body{
    background-color:tan;
    font-family: Alfa Slab One;
    letter-spacing: 2px;
}
img{
  width: 1500px;
  height: 100px;
  border-radius: 10px;
  border: 5px solid bisque;
}
.container{
    font-family: Russo One ;
    position:relative;
    text-align: center;
    color:black;
    font-size: 60px;
    

}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
#function{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

a{
    color:cornsilk;
    border: 2px solid  rgb(68, 25, 25);
}
a:link{
    text-decoration: none;
    background-color: brown;
    border-radius: 10px; 
    padding: 20px;
}
a:hover{
    background-color: darkred;
    border:goldenrod solid 5px;
    border-radius: 10px;
}
#make-chicken{
    background-color: tan;
    border: none;
}
#chick{
    width: 150px;
    height:150px;
}
#make-pig{
    background-color: tan;
    border: none;
}
#pig{
    width: 150px;
    height:150px;
}
#make-sheep{
    background-color: tan;
    border: none;
}
#sheep{
    width: 150px;
    height:150px;
}
#make-horse{
    background-color: tan;
    border: none;
}
#horse{
    width: 150px;
    height:150px;
}

ul {
    text-decoration: none;
    justify-self: center;
    list-style-type: none;
    
}
li{
   text-align: center;
  
  
}
#AD{
   border:5px solid rgb(158, 2, 2);
    width:150px;
    height: 150px;
}
#AAD{
    background-color: tan;
    border: none;
}
footer{
    border: solid 2px bisque;
    margin-top: 1%;
}
